<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<header>Categories Form</header>
			<form action="/categories/new" method="POST">
				<label for="newCategoryName">Category name: </label>
				<input
					type="text"
					id="newCategoryName"
					name="newCategoryName"
					required
				/>
				<label for="newCategoryColour">Colour: </label>
				<input
					type="color"
					id="newCategoryColour"
					name="newCategoryColour"
					required
				/>
				<button type="submit" class="smallButton">Add category</button>
			</form>
		</div>
	</body>
</html>
