<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<%-include ("navigationBar")%>
			<header>Home</header>
			<div>
				First we mine, then we craft, let's MINECRAFT!! This is a website that
				shows Minecraft items (ofc not all lah)
				<br />
				You can also add items and categories!!!
			</div>
			<div class="homeBarDiv">
				<a href="/items/" class="homeItems">Items</a>
				<a href="/categories/" class="homeCategories">Categories</a>
			</div>
		</div>
	</body>
</html>
